/********* BASE STYLES *********/

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: rgb(165, 165, 165);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

h1, 
h2, 
h3, 
h4,
legend {
    color: #333;
}

p {
    max-width: 300px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    background: darkslategray;
}

header h1 {
    padding: 0.5em 0;
    color: white;
    text-transform: uppercase;
}


/********* LAYOUT STYLES *********/

.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    max-width: 800px;
}

.newsletter {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.accent-thick {
    height: 5px;
    width: 100%;
    background: #333;
}

.accent-thin {
    height: 2px;
    width: 100%;
    background: #333;
    margin-top: .35em;
}

.accent-group {
    margin-top: 3em;
}

footer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: darkslategray;
    color: white;
}


/********* FORM STYLES *********/

form {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
}

legend {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

fieldset {
    margin-bottom: 2.5em;
    border: none;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
}

input,
select,
.newsletter-field-holder {
    margin-bottom: 1.5em;
}

.newsletter-fieldset {
    display: block;
}

.newsletter-label {
    margin-bottom: 15px;
    display: block;
}


input[type="checkbox"],
input[type="radio"] {
    margin-right: 1em;
}


.field-holder {
    display: flex;
    flex-direction: column;
}

input,
textarea,
select {
    padding: 20px;
    background: #e8eeef;
    border: 2px solid #e8eeef;
    border-radius: 5px;
    color: #8a97a0;
    font-size: 16px;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid rgb(11, 0, 80);
    outline: none;
}

select {
    height: 70px;
    text-indent: 13px;
  }



textarea {
    width: 100%;
}

button[type="submit"] {
    width: 100%;
    padding: 20px;
    background: lightseagreen;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}

button[type="submit"]:hover {
    opacity: 0.8;
}

.zip-container {
    width: 70%;;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

input::placeholder {
    opacity: 0.3;
    text-align: right;
    font-style: italic;
}



/********* MEDIA QUERIES *********/

@media (min-width: 768px) {

    header {
        margin-bottom: 3em;
    }

    .field-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .newsletter-field-holder {
        justify-content: flex-start;
    }

    label {
        padding-top: 1em;
    }


   .field-holder > input,
   .field-holder > select {
       width: 70%;
   }

    p {
        max-width: none;
    }






}